body {
    font-family: 'Sanchez', serif;
    background: #f2f2f2;
}

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 750px;
    padding: 20px 10px;
    margin: 0 auto;
}

.clear {
    float: none;
    clear: both;
}

header {
    background: #212121;
}

hgroup {
    color: #fff;
}

nav button {
    background-color: #212121;
    color: white;
    float: left;
    display: inline;
    margin-right: 8px;
    background-repeat: no-repeat;
    padding-top: 4px;
    text-align:center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    float: left;
    display: inline;
    text-align: center;
}

nav button {
    padding: 0.2cm;
    background-color: #111;
    margin: 0.1cm;
    border:none;

    color: #fff;
    -webkit-transition: padding 0.5s;
}

nav button:hover {
    padding: 0.2cm 0.9cm 0.2cm 0.9cm;
    -webkit-transition: padding 0.5s;
}

section {
    padding: 1cm;
}

footer {
    font-size: 8pt;

    padding: 0.2cm 0.9cm 0.2cm 0.9cm;
    background-color: #000;
    color: #fff;
}